.input-header {
    display: none;
}

.field.delete {
    background-color: #fcc;
}

.field.delete .field-meta {
    display: none;
}

.field-meta {
    width: calc(100% - 5em);
}

.field-meta .expand, 
.field-meta .collapse {
    margin: 0 0.5em 0;
}

.collapse + .collapsible {
    margin-top: .5em;
}

.restore-property {
    display: none;
}